@model RentMe.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}
<br/>
<br/>
@using(Html.BeginForm(MVC.Rentals.SearchResult()))
{
    <div class="form-group">
        @Html.LabelFor(vm => vm.PickupDate)
        @Html.EditorFor(vm => vm.PickupDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(vm => vm.ReturnDate)
        @Html.EditorFor(vm => vm.ReturnDate)
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
}

@section Scripts {
    @Scripts.Render(Links.Bundles.Scripts.jqueryUI)
    @Styles.Render(Links.Bundles.Styles.cssjqueryUi)
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker(
                {
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "0:+1",
                    minDate: Number(0),
                    maxDate: Number(60),
                })
        })
    </script>
}