@model RentMe.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

@using (Html.BeginForm(MVC.Rentals.SearchResult()))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(vm => vm.PickupDate)
        @Html.EditorFor(vm => vm.PickupDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(vm => vm.ReturnDate)
        @Html.EditorFor(vm => vm.ReturnDate)
    </div>
    <button type="submit" class="btn btn-primary">Search</button>

}

@section Scripts {
        @Scripts.Render(Links.Bundles.Scripts.jqueryDateTimePicker)
        @Styles.Render(Links.Bundles.Styles.cssjqueryDateTimePicker)

        <script>
            $('input[type=datetime]').datetimepicker(
                {
                    step: 60,
                    minDate: 0,
                    defaultTime: '12:00',
                })
        </script>
}